<section class="Education resume-section" id="education">
    <div *ngIf="educationData" class="container resume-section-content">
      <h2 class="mb-5 pt-3 text-center">Education</h2>
      <div *ngFor="let education of educationData" class="d-flex flex-column flex-md-row justify-content-between mb-3 education-item">
        <div class="flex-grow-1">
          <h3 class="mb-0 position">{{ education.degree }}</h3>
          <div class="subheading mb-2 company">{{ education.institution }}</div>
          <p>
            {{ education.grade }}
          </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary date">{{ education.period }}</span></div>
      </div>
    </div>
  </section>
  
