<section class="Projects resume-section">
    <div *ngIf="projectData" class="container resume-section-content">
      <h2 class="mb-5 pt-3 text-center">Projects</h2>
      <div *ngFor="let project of projectData" class="d-flex flex-column flex-md-row justify-content-between mb-1 project-item">
        <div class="flex-grow-1">
          <h3 class="mb-0 position">{{ project.projectName }}</h3>
          <p>{{ project.description }}</p>
        </div>
        <div class="flex-shrink-0">
          <span class="text-primary date">{{ project.period }}</span>
        </div>
      </div>
    </div>
  </section>
  
