<section class="About">
    <div *ngIf="aboutData" class="container ">
      <div class="row about-content">
        <div class="left-side col-12 col-md-6">
          <div class="person-info">   
              <img class="img-fluid rounded-circle " src="{{ aboutData.imageUrl }}" alt="" >  
              <div class="person-name fw-bold text-center">{{ aboutData.name }} 
                <br> {{ aboutData.surName }}
              </div>
              <div class="person-jobtitle text-center ">
                <div class="jobTitle">{{ aboutData.jobTitle }}</div>
              </div>
          </div>
        </div>
  
        <div class="right-side col-12 col-md-6 ps-md-5 mt-md-5 mt-0">
          <h1 class="hello ">Hey!</h1>
          <p class="summer ">
            {{aboutData.summary}} 
          </p>
          <div class="CvButtons">
            <a href="{{ aboutData.cvUrl }}" class="button btn btn-dark mb-3" target="_blank">Download CV-EN</a>
            <a href="{{ aboutData.cvUrlTr }}" class="button btn btn-dark mb-3 ms-2" target="_blank">Download CV-TR</a>
          </div>
          
        </div>
      </div>
  
    </div>
  </section>
  