section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

section.resume-section .resume-section-content {
    width: 100%;
}

 
@media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
  }
  @media (min-width: 992px) {
    section.resume-section {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }


.Experience h2{
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-text-Navitem);
}

.Experience .position{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text-primary);
    font-size: 23px;
    line-height: 1.5em;
}

.Experience .company{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    color: var(--color-text-secondary);
}

.Experience .date{
    font-size: 16px;
    color: var(--color-primary) !important;
    font-weight: 500;
}

.experience-item:not(:last-child) {
  border-bottom: 1px solid #b9afaf; 
  padding-bottom: 1rem;          
  margin-bottom: 2rem !important;           
}