@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --color-primary: #996600;
  --color-secondary: #E6DACE;
  --color-third:#F4ECE6;
  --color-text-Navitem: #898989;
  --color-text-primary: #343a40;
  --color-text-secondary: #6C757D;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
  overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
  scroll-padding-top:  0;
}

ul,ol {
	list-style: none;
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
  
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

button,
input {
	border: none;
	outline: none;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}


/* ? DEFAULT  */


.mb-5 {
  margin-bottom: 3rem !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-md-row {
  flex-direction: row !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}




