section.resume-section {
    /* display: flex; */
    /* align-items: center; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem ;
    padding-bottom: 5rem ;
    max-width: 75rem;
}

section.resume-section .resume-section-content {
    width: 100%;
}

.resume-section-content h2{
    color: var(--color-text-Navitem);
    font-size: 24px !important;
}

 
@media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
  }
@media (min-width: 992px) {
    section.resume-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.skill-block .skill-name{
  font-weight: 500;
}

.skill-block .progress{
  height: 11px;
  width: 90%;
}

.skill-block .progress-bar{
  background-color: var(--color-primary);
}

.skill-block .value-color{
  color: #000000;
  font-weight: bold;
  font-size: 12px;
}