<section class="resume-section">
    <div class="container resume-section-content">
        <h2 class="pt-3 text-uppercase">Skills</h2>
        <div *ngIf="skillData"  class="row skills">
            <div *ngFor="let skill of skillData" class="col-12 mb-4 col-md-6 mb-md-4">
                <div class="skill-block">
                    <div class="skill-name">{{ skill.skillName }}</div>
                    <div class="progress " role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-bar value-color" [ngStyle]="{ width: skill.skillValue + '%' }">{{ skill.skillValue }} %</span>
                    </div>
                </div>
            </div>
        </div>
<hr>

        <h2 class="text-uppercase">Languages</h2>
        <div *ngIf="languageData" class="row language">
            <div *ngFor="let language of languageData" class="col-12 mb-4 col-md-6 mb-md-4">
                <div class="skill-block">
                    <div class="skill-name">{{ language.languageName }}</div>
                    <div class="progress " role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-bar value-color" [ngStyle]="{ width: language.languageValue + '%' }">{{ language.languageValue }} %</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
